{% extends "base.html" %}
{% load static %}
{% block title %}
  Lista de departamentos
{% endblock title %}
{% block content %}
  <p class="title is-3">Lista de departamentos</p>
  <div class="columns">
    <div class="column is-3">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{% static 'home/media/departments.jpg' %}"
                 alt="Departments image"
                 width="400"
                 height="400"/>
          </figure>
        </div>
        <div class="card-content">
          <a href="{% url 'staff:department_create' %}" class="button is-link">Nuevo departamento</a>
        </div>
      </div>
    </div>
    <div class="column is-4">
      {% for department in departments %}
        <div class="card-content">
          <div class="card-body">
            <p class="title is-5">{{ department.nombre }}</p>
            <p class="subtitle is-6">Presupuesto: {{ department.presupuesto }}</p>
            <a href="{{ department.get_absolute_url }}" class="card-link">Detalle |</a>
            <a href="{% url 'staff:department_update' department.codigo %}"
               class="card-link">Editar |</a>
            <a href="{% url 'staff:department_delete' department.codigo %}"
               class="card-link">Eliminar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
