{% extends "base.html" %}
{% block title %}
  Actualizar empleado
{% endblock title %}
{% block content %}
  <h1 class="title is-3">Actualizar empleado</h1>
  <form method="post">
    {% csrf_token %}
    <input type="hidden"
           name="csrfmiddlewaretoken"
           value="h3Q3RinKFV5XyGvCje9MmQZIYEYPewDkR2O3wP3N8FWYmFiZteI7QHNmdYSV6Vpe"/>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label" for="nit">Nit</label>
      </div>
      <div class="field-body">
        <input class="input"
               type="text"
               value="{{ employee.nit }}"
               name="nit"
               maxlength="9"
               required
               id="nit"/>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label" for="nombre">Nombre</label>
      </div>
      <div class="field-body">
        <input class="input"
               type="text"
               value="{{ employee.nombre }}"
               name="nombre"
               maxlength="100"
               required
               id="nombre"/>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label" for="apellido1">Primer apellido</label>
      </div>
      <div class="field-body">
        <input class="input"
               type="text"
               value="{{ employee.apellido1 }}"
               name="apellido1"
               maxlength="100"
               required
               id="apellido1"/>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label" for="apellido2">Segundo apellido</label>
      </div>
      <div class="field-body">
        <input class="input"
               type="text"
               value="{{ employee.apellido2 }}"
               name="apellido2"
               maxlength="100"
               required
               id="apellido2"/>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label" for="codigo_departamento">Departamento</label>
      </div>
      <div class="field-body">
        <div class="select">
          <select name="codigo_departamento" id="codigo_departamento">
            <option value="{{ employee.codigo_departamento }}">
              {{ employee.codigo_departamento }}
            </option>
            {% for department in departments %}
              <option value="{{ department.codigo }}">
                {{ department.nombre }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <button class="button is-primary" type="submit">Guardar</button>
      </div>
    </div>
  </form>
{% endblock content %}
